h1{
    text-align: center;
}

#intro{
    text-align: center;
}

#form{
    text-align: center;
}

body{
    margin-top: 100px;
}

#totoro {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    background-color: white;
   
}
button{
    align-self: center;
}